<ion-header>
  <ion-toolbar>
    <!-- <ion-title class="ion-text-center">
    </ion-title> -->
    <ion-icon (click)="goToFriendSearch()" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" class="ion-text-center" style="margin: 25px;">
    <h1>{{email}} </h1>

    <i class="collapsible-header material-icons" (click)="toggleAdd()" *ngIf="friend">
      <ion-icon size="large" name="person-add" style="margin-left: 25px;"></ion-icon>
    </i>
    <i class="material-icons" *ngIf="!friend">
      <ion-icon size="large" name="person-add-outline" style="margin-left: 25px;"></ion-icon>
    </i>
  </div>




</ion-content>