<ion-header>
  <ion-toolbar>
    <!-- <ion-title class="ion-text-center">
    </ion-title> -->
    <ion-icon (click)="goToFriendSearch()" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" class="ion-text-center" style="margin: 25px;">
    <h1>{{name}}</h1>
    <h1 style="margin-top: 25x;">{{email}} </h1>

    <div class="collapsible-header" (click)="toggleAdd()">
      <i class="material-icons" *ngIf="friend" style="margin: 25px">
        <ion-icon name="person-add" size="large"></ion-icon>
      </i>
      <i class="material-icons" *ngIf="!friend" style="margin: 25px">
        <ion-icon name="person-add-outline" size="large"></ion-icon>
      </i>
    </div>
  </div>

  <ion-item button (click)='navTo(visited)' *ngFor="let visited of visitedRestaurants">
    <ion-button style="color:grey" fill="clear">{{visited.name}}</ion-button>
  </ion-item>

</ion-content>