<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>{{email}}</h1>

  <div class="collapsible-header" (click)="toggleAdd()">
    <i class="material-icons" *ngIf="friend" style="margin: 25px" size="large">
      <ion-icon name="person-add"></ion-icon>
    </i>
    <i class="material-icons" *ngIf="!friend" style="margin: 25px" size="large">
      <ion-icon name="person-add-outline"></ion-icon>
    </i>
  </div>





</ion-content>