<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" *ngIf="restaurant">
      <ion-icon (click)="goToSearch()" name="arrow-back-outline"></ion-icon>{{restaurant.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="restaurant">

  <ion-button class="review" color="light" size="medium" (click)="goToReview(restaurant)">Write Your Review!
  </ion-button>

  <br>

  <div class="collapsible-header" (click)="toggleSaved()">
    <i class="material-icons" *ngIf="restaurant.saved">
      <ion-icon id="hearts" name="heart"></ion-icon>
    </i>
    <i class="material-icons" *ngIf="!restaurant.saved">
      <ion-icon id="hearts" name="heart-outline"></ion-icon>
    </i>
  </div>

  <br>

  <!-- fix to only drop pin on restaurant location -->
  <ion-button (click)="showOnMap()">MAP</ion-button>

  <ion-item button *ngFor="let review of reviews">
    <!-- <h6>
      <ion-button style="color:grey" fill="clear">{{review.id}}</ion-button>
    </h6> -->
    <h5>
      <ion-button style="color:grey" fill="clear">{{review.review}}</ion-button>
    </h5>
  </ion-item>



</ion-content>