<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="padding-top: 10px;">
      Maps
      <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
      <link rel="stylesheet" type="text/css" href="./style.css" />
      <script src="./index.js"></script>
    </ion-title>
    <div class="ion-text-center">
      <button size="medium" style="margin: 5px;">My Saved Places</button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

  <div #map id="map"></div>


</ion-content>