<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Maps
      <title>Places Search Box</title>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
      <link rel="stylesheet" type="text/css" href="./style.css" />
      <script src="./index.js"></script>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>

    <div #map id="map"></div> 
    

</ion-content>
