<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <br>

  <ion-icon size="large" id="icon" name="person-circle-outline"></ion-icon>
  <!-- <h6>{{user.email}}</h6> -->

  <br>

  <ion-button size="large" (click)="goToSaved()">Your Saved Places</ion-button>
  <ion-button size="large">Your Visited Places</ion-button>



</ion-content>