<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <br>

  <ion-icon size="large" id="icon" name="person-circle-outline"></ion-icon>
  <h6>schwarz.mia@gmail.com</h6>

  <br>

  <ion-button style="margin: 5px" size="large" (click)="goToSaved()">My Saved Places</ion-button>
  <br>
  <ion-button style="margin: 15px" size="large" (click)="goToVisited()">My Visited Places</ion-button>

</ion-content>