<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" *ngIf="restaurant">
      {{restaurant.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="backbutton" color="light" size="small" (click)="goBack(restaurant)">BACK</ion-button>

  <div class="ion-text-center">
    <ion-input type="number" value="5" min="0" max="5"></ion-input>
  </div>
  <div>
    <ion-input placeholder="Your review"></ion-input>
  </div>

  <ion-button class="donebutton" color="light" size="small" (click)="goToMaps()">DONE
  </ion-button>

</ion-content>