<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Search
    </ion-title>
    <br>
    <br>
    <br>
    <br>
    <div class="ion-text-center">
      <button size="medium" style="margin: 5px; padding: 5px;">Restaurants</button>
      <button (click)='goToFriendSearch()' size="medium" style="margin: 5px; padding: 5px;">Friends</button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-searchbar placeholder="Search" [(ngModel)]="searchTerm" showCancelButton="never" animated>
  </ion-searchbar>


  <ion-item button (click)='navTo(restaurant)' *ngFor="let restaurant of restaurants | filter:searchTerm">
    <ion-button style="color:grey" fill="clear">{{restaurant.name}}</ion-button>
  </ion-item>

</ion-content>