<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-searchbar placeholder="Search" [(ngModel)]="searchTerm" showCancelButton="never" animated>
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-item button (click)='navTo(restaurant)' *ngFor="let restaurant of restaurantService.getRestaurants() | filter:searchTerm">
    <ion-button style="color:grey" fill="clear">{{restaurant.name}}</ion-button>
  </ion-item>

</ion-content>
